body {
  background-color: black;
  position: relative;
  color: white;
  min-height: 725px;
}

h3 {
  color: orange;
}

.tooltip {
  font-size: 14px;
}

/* header */

header {
  height: 100px;
}

/* navbar */

.navbar {
  width: 940px;
}

.navbar-inner {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.navbar-inverse .nav > li > a:hover,
.navbar-inverse .nav > li > a:focus {
  color: orange;
}

.navbar-inverse .nav .active > a,
.navbar-inverse .nav .active > a:hover ,
.navbar-inverse .nav .active > a:focus {
  background-color: orange;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eebb00), to(#cc9900));
  background-image: -webkit-linear-gradient(top, #eebb00, #cc9900);
  background-image: -moz-linear-gradient(top, #eebb00, #cc9900);
  background-image: -o-linear-gradient(top, #eebb00, #cc9900);
  background-image: linear-gradient(to bottom, #eebb00, #cc9900);
  color: black;
}

.navbar.affix {
  top: 0px;
}

.navbar.affix-top {
  top: 60px;
}

/* sidenav */

.sidenav {
  width: 220px;
}

.sidenav.affix {
  top: 20px;
  bottom: auto;
  position: fixed;
}

.sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 50px;
}

/* sidenav nav-list */

.nav > li > a {
  text-shadow: 0 0 0;
  color: #999999;
}

.nav > li > a:hover,
.nav > li > a:focus {
  background-color: transparent;
  color: orange;
}

.nav-list > .active > a,
.nav-list > .active > a:focus,
.nav-list > .active > a:hover {
  background-color: orange;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eebb00), to(#cc9900));
  background-image: -webkit-linear-gradient(top, #eebb00, #cc9900);
  background-image: -moz-linear-gradient(top, #eebb00, #cc9900);
  background-image: -o-linear-gradient(top, #eebb00, #cc9900);
  background-image: linear-gradient(to bottom, #eebb00, #cc9900);
  color: black;
}

.nav-list {
  padding-right: 0;
  padding-left: 0;
  margin-bottom: 0;
}

/* thumbnails */
.thumbnail {
  border: 1px solid black;
}

a.thumbnail:hover,
a.thumbnail:focus {
  border-color: orange;
}

/* footer */
footer {
  height: 50px;
}

/* accordion */
.accordion {
  margin-bottom: 0px;
}

.accordion-group {
  border: 1px solid #252525;
  margin-bottom: 1px;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.accordion-heading {
  background-color: #1b1b1b;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
  background-image: -webkit-linear-gradient(top, #222222, #111111);
  background-image: -moz-linear-gradient(top, #222222, #111111);
  background-image: -o-linear-gradient(top, #222222, #111111);
  background-image: linear-gradient(to bottom, #222222, #111111);
  background-repeat: repeat-x;
}

.accordion-inner {
  padding: 0 15px;
  border-top: 1px solid #252525;
}

.accordion-toggle {
  color: #999999;
}

.accordion-toggle:hover,
.accordion-toggle:focus {
  color: orange;
  text-decoration: none;
}

